body,
html {
    height: 100%;
}



.Home {
    background-color: #1B2430;
    background-image: url("./Images/bg.jpg");
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    padding-bottom: 10%;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
    color: #FFF;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #ce8b96;
}

.desc {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 200;
    font-size: 5rem;
    width: 65%;
    line-height: 2.2em;
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
    color: #FFF;
}


img {
    margin: 50px;
    height: 100px;
    width: 100px;
    border: solid 3px #ffff;
    border-radius: 50%;
}

h2 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #FFF;
}